.MainButtons {
    max-height: 15vh;
    min-height: 15vh;
    display: flex;
    background-color: rgb(24, 23, 23);
    margin-bottom: 0.5rem;
    border-radius: 12px;
}

.MainButtons img {
    max-height: 4vh;
}

.MainButtons .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.MainButtons .main-content .logo {
    display: flex;
    margin-bottom: 1.5rem;
}

.MainButtons .main-content .search {
    display: flex;
}

.MainButtons img {
    padding-right: 1rem;
}

.MainButtons img:hover {
    cursor: pointer;
}

.MainButtons button {
    border: none;
    background: none;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.MainButtons button:hover {
    cursor: pointer;
}

.Jobs {
    background-color: rgb(24, 23, 23);
    border-radius: 12px;
    max-height: 69vh;
    min-height: 69vh;
    overflow: scroll;
}

.Jobs .exp-elm {
    display: flex;
}

.Jobs .exp-elm h2 {
    width: 65%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Jobs .exp-elm p {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Jobs .Experience a {
    width: 92%;
    display: flex;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
}

.Jobs .Experience a:hover {
    background-color: rgb(59, 57, 57);
}

.Jobs .Experience .image {
    margin-left: 0.5rem;
}

.Jobs .Experience img {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
}

.Jobs .Experience .infos {
    text-align: left;
    margin-left: 1rem;
}

.Jobs .Experience .infos h3 {
    color: white;
    font-style: bold;
    margin-top: 0.5rem;
}

.Jobs .Experience .infos p {
    color: grey;
    padding-bottom: -1rem;
}